@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

background {
  background-color: transparent;
  background-image: url("/public/assets/star.mp4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
