@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://use.typekit.net/kuu4qka.css");

@font-face {
  font-family: "nasalization";
  src: url(/pages/nasa.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
